@charset "UTF-8";

body {
	background-image: url("images/meadows_sunset.jpg");
	background-size: cover;
}

h1 {
	color: #120556;
	font-family: Oswald;
	font-weight: bold;
	font-size: 5vw;
	margin-bottom: inherit;
	margin-top: inherit; 
	text-align: center; 
}



.container {
	height: 70vw;
	width: 70vw;
	background-image: radial-gradient(ellipse, rgba(255,255,255,0.75), rgba(0,5,84,0.80));
	display: block; 
	margin-left: auto;
	margin-right: auto;
	padding: 30px;
	border-radius: 20px;
	border: solid 10px #120556;
	box-shadow: 2.5px 5px #120556;
	
}

#quote-space {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50vw;
	height: 64.9vw;
	border: solid 10px #FFFFFF;
	border-radius: 15px;
	box-shadow: 2.5px 5px #FFFFFF;
}

button {
	background-color: #FFFFFF;
	color: #120556;
	font-weight: bolder;
	font-size: 2vw;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	border: solid thick #00ADFF;
	display: block; 
	margin-left: auto; 
	margin-right: auto; 
	width: 50%;
	height: 40%;
	border-radius: 10px;
	box-shadow: 2.5px 5px #0086FA;
	margin-top: 15px;
}

